.mat-card-4{
    width: 180px;
    margin-left: 230px;
    margin-top: -70px;
    height: 70px;
    background-color: #3f51b5;
}
.mat-card-2{
    width: 450px;
    height: 150px;
}
.p-tag1{
    color: white;
    margin-left: 40px;
    font-size: 20px;
}
.p-tag2{
    margin-left: 15px;
    margin-top: -10px;
    color: white;
}
.btn-1{
    margin-top: 10px;
}