.row-field-3{
    margin-top: 40px;
}
.vl {
    border-left: 3px solid #3f51b5;
    height: 230px;
    position: absolute;
    left: 45%;
    margin-left: -3px;
    top: 10px;
  }
  .head-2{
    margin-left: 30px;
    margin-top: 50px;
    font-weight: 800;
    text-decoration: underline;
  }
  .mat-form-3{
    margin-left: 20px;
    margin-top: -10px;
    color: rgb(10, 10, 10);
    border-color: aliceblue;
  }
  .head-3{
    font-weight: 800;
    text-decoration: underline;
  }
  .mat-card-4{
    margin-top: -10px;
    height: 150px;
  }
  .mat-form-4{
    width: 100%;
   
  }
  .btn-1{
    zoom: 70%;
    margin-left: 300px;
    margin-top: 20px;
  }
  .mat-card-3{
    height: 250px;
    background-color: #c1c4d3;
    border-radius: 20px;
    width: 90%;
    margin-left: 40px;
}