.mat-card-3 {
    height: 550px;
    margin-top: 50px;
}
table{
    width: 100%;
    margin-top: 20px;
}
.mat-card-2{
    height: 60px;
    background-color: #3f51b5;
    width: 70%;
    margin-top: -30px;
    margin-left: -30px;
}
h2{
    color: white;
}