.mat-card-1{
    background-color: #3f51b5;
    height: 50px;
    width: 60%;
    margin-top: -20px;
    margin-left: -20px;
}
.head-1{
    color: white;
    margin-top: -7px;
}
.head-2{
    font-weight: 900;
    margin-top: 20px;
}
.para-1{
    margin-left: 40px;
    margin-top: -15px;
    color: #3f51b5;
}
.mat-card-2{
    margin-top: 20px;
    height: 100PX;
    
}
.line-1{
    margin-top: 20px;
}
.head-3{
    font-weight: 900;
}
.para-2{
    margin-left: 40px;
    margin-top: -15px;
    color: #3f51b5;
}
mat-form-field{
  margin-top: 30px;
  margin-left: 70px;
  width: 70%;
}
.head-4{
    font-weight: 900;
    margin-top: -10px;
}