.mat-card-1 {
    height: 400px;
    margin-top: 50px;
}
.mat-card-2{
    height: 100px;
    margin-top: 50px;
}

.mat-card-3 {
    height: 550px;
    margin-top: 50px;
}
.demo-table {
    width: 100%;
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }