.mat-card-1 {
    width: 450px;
    height: 400px;
    margin-top: 50px;
    background-color: #3f51b5;
    border-radius: 20px;
}
.mat-card-2{
    height: 100px;
    margin-top: 50px;
    width: 450px;
    
}

.mat-card-3 {
    height: 550px;
    margin-top: 50px;
}
table {
    width: 100%;
  }
  .example-margin-2{
    margin-left: 30px;
  }
  button{
   margin-top: 20px;
   margin-left:400px;
  }
  .icon-one {
    zoom: 80%;
    background-color: #3f51b5;
    color: white;
  }
  #b{
    margin-left: 10px;
  }
  .mat-card-4{
    width: 200px;
    height: 70px;
    margin-left: 230px;
    margin-top: -80px;
    background-color: #3f51b5;
  }