<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="RegisterForm" (ngSubmit)="onRegister()">
    <h3>Register Form</h3>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Full Name</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        type="text"
        formControlName="FullName"
      />
      <mat-error *ngIf="FullName?.errors?.['required']"
        >User Name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        type="email"
        formControlName="email"
      />

      <mat-error *ngIf="email?.errors?.['required']">
        Email is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Please enter the valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Mobile</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        type="tel"
        formControlName="mobile"
      />
      <mat-error *ngIf="mobile?.errors?.['required']"
        >Mobile Number is required</mat-error
      >
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>password</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        type="password"
        formControlName="password"
      />
      <mat-error *ngIf="password?.errors?.['required']">
        Password is required
      </mat-error>
      <mat-error *ngIf="password?.errors?.['maxLength']">
        Password must be of length 6
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        placeholder="Placeholder"
        type="password"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Password is required
      </mat-error>
    </mat-form-field>
    <!-- <div *ngIf="f.confirmPassword.errors.Validation">Password and Confirm Password must be match.</div> -->
    <mat-error
      style="font-size: small"
      *ngIf="RegisterForm.errors?.['passwordsDontMatch']"
    >
      Password should match
    </mat-error>
    <button mat-raised-button color="warn" type="submit">Register</button>
  </form>
</body>
