<mat-card class="mat-card-2">
    <div class="row">
        <mat-card class="mat-card-2-5">
            <div>
                <h2 class="head-1">Upload Project</h2>
            </div>
        </mat-card>
    </div>
    <form [formGroup]="UploadProject" (ngSubmit)="uploadproject()">
    <div class="row row-upload">
        <div class="col-6">
            <mat-form-field appearance="outline" class="mat-form-field-one">
                <mat-label>Project Title</mat-label>
                <input matInput placeholder="eg:- Project ##" formControlName="projectTitle">
                <mat-icon matSuffix> border_color</mat-icon>
              </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="outline" class="mat-form-field-one">
                <mat-label>Project Name</mat-label>
                <input matInput placeholder="eg:- Nike" formControlName="projectName">
                <mat-icon matSuffix> text_fields</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div class="row row-upload-2">
        <div class="col-12">
        <mat-card class="mat-card-upload">
            <mat-form-field appearance="outline" class="textarea">
                <mat-label>Comment</mat-label>
                <textarea matInput formControlName="comments"></textarea>
              </mat-form-field>
        </mat-card>
        </div>
    </div>
    <div class="row row-upload-3">
        <div class="col-6">
            <mat-form-field appearance="outline" class="mat-form-field-two">
                <mat-label>GitHub Repository</mat-label>
                <input type="url" matInput placeholder="eg:- https://github.com/Jaffer-ali920/Todo-Angular.git" formControlName="GitRepo">
                <mat-icon matSuffix>cloud_upload</mat-icon>
              </mat-form-field>
        </div>
        <div class="col-6">
            <div class="row-button">
            <button mat-raised-button color="primary" class="btn-2">Upload</button>
          </div>
        </div>
    </div>
</form>
  </mat-card>