.mat-card-1{
  height: 300px;
  margin-top: 30px;
  margin-left: 30px;
  width: 70%;

}
.mat-card-2{
  margin-top: 30px;
  width: 90%;
  height: 300px;
}
.mat-card-1-5{
 width: 60%;
 margin-top: -30px;
 margin-left: -20px;
 height: 50px;
 background-color: #3f51b5;
}
.head-1{
  margin-top: -7px;
  color: white;
}
table{
  width: 100%;
}