.mat-card-1{
  height: 300px;
  margin-top: 20px;
  max-width: 800px;
  background-color: rgb(176, 205, 215);
}
.mat-card-2{
   margin-top: 20px;
   max-width: 80%;
   height: 300px;
  
}

.mat-card-1-5{
  max-width: 60%;
  height: 50px;
  background-color: #3f51b5;
}
.head-1{
    margin-top: -15px;
    color: white;
    font-size: medium;
}
.para-1{
  margin-top: -20px;
  font-size: 10px;
  margin-left: 10px;
  color: white;
}
table {
    width: 100%;
    zoom: 75%;
}
.para-2{
    font-weight: bold;
    font-size: 15px;
}