.mat-card-1{
    margin-top: 70px;
    height: 400px;
    margin-left: 30px;
   
}
.mat-card-2{
    margin-top: 70px;
    height: 400px;
    width: 700px;
    margin-left: 90px;
}
.mat-card-1-5{
    width: 300px;
    height: 50px;
    margin-top: -30px;
    margin-left: -20px;
    background-color: #3f51b5;
}
.mat-card-2-5{
    width: 600px;
    height: 50px;
    margin-top: -30px;
    margin-left: -20px;
    background-color: #3f51b5;
}
.head-1{
    color: white;
    margin-top: -10px;
    font-size: large;
}
.form-one{
    margin-top: 20px;
}
.mat-form-field-one{
    width: 80%;
}
.btn-1{
    margin-left: 200px;
}
.row-upload{
    margin-top: 20px;
}
.row-upload-2{
    margin-top: 30px;
}
.mat-card-upload{
    width: 400px;
    margin-left: 120px;
    height: 100px;
}
.row-upload-3{
    margin-top: 30px;
}
.mat-form-field-two{
    width: 100%;
}
.btn-2{
    margin-left: 170px;
}
.row-button{
   margin-top: 20px;
}
.textarea{
    width: 100%;
}
