@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Dongle&family=Open+Sans&display=swap');

body{
  overflow-x: hidden;
}
nav{
    height: 80px;
}
#intro-example {
    height: 400px;
    background: linear-gradient(110deg, #a73131 60%, #0c00ea 60%);
    border-radius: 0px 0px 230px 230px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 700px;
    }
  } 
  #side-image {
    border-radius: 2cm;
    zoom: 80%;
  
    
  }
  .img-tag{
 padding-right: 100px;
 padding-top: 100px;
 
  
  }
  @media (max-width: 1182px) {
    #side-image{
      zoom:50%
    }
  }
  .head-1{
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 1px;
    margin-top: 150px;
    margin-right: 100px;
  }
  .head-2{
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 1px;
    margin-right: 100px;
  }
 .head-3{
  margin-top: 40px;
  font-size: large;
  color: #807f88;
  
 }
 .head-4{
  font-size: large;
  margin-right: 250px;
  color: #807f88;
 }
 @media (max-width: 1399px) {
  .head-1,.head-2{
    zoom:60%
  }
}
@media (max-width: 1399px) {
  .head-3,.head-4{
    zoom:60%;
  }
}

@media (max-width: 1399px) {
  .head-1{
   padding-top: 200px;
  }
}
@media (max-width: 854px) {
  .head-1,.head-2{
  zoom: 40%;
  }
}
@media (max-width: 854px) {
  .head-1{
  margin-top: 200px;
  }
}
@media (max-width: 733px) {
  #side-image{
     zoom: 40%;
  }
}
.mask{
  border-radius: 0px 0px 0px 230px;
}
.head-5{
  font-size: 65px;
  margin-top: 100px;
  font-weight: 500;
  font-family: 'Dongle', sans-serif;
}
.text-1{
  font-family:  'Dongle', sans-serif;
  font-size: 30px;
  font-weight: 50;
}
.cards-1{
  margin-top: 100px;
  align-items:center ;

}
.img-tag-1{
 width: 40px;
 height: 40px;
 margin: auto;

}
.img-tag-2 {
  zoom: 80%;
  margin-top: 170px;
}
.head-6{
  margin-top: 150px;
  font-size: 55px;
  font-family: 'Dongle', sans-serif;
}
.text-2{
  color: #1f1b71;
}
.btn-1{
  margin-right: 20px;
}
.nav-link{
  font-family: 'Dongle', sans-serif;
  font-size: 40px;
}


