<!-- Navbar -->
<body>
  

<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="https://mdbgo.com/">
        <img
          height="16"
          alt=""
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarButtonsExample"
        mdbCollapse
      >
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Bug Tracker</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">

          
          <button class="btn-1" routerLink="/login" mat-raised-button>Login</button>

          <button type="button" routerLink="/register" class="btn btn-primary me-3">
            Sign up for free
          </button>
          <a
            class="btn btn-dark px-3"
            href="https://github.com/mdbootstrap/mdb-ui-kit"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
    <!-- Background image -->
    <div
    id="intro-example"
    class="p-5 text-center bg-image"
     
  >
    <div class="mask" style="background-color: rgba(255, 246, 246, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <div class="row">
            <div class="col-6">
              <div class="img-tag">
                <img id="side-image" src="../../../assets/images/laptop-three.png" >
             </div>
            </div>
            <div class="col-6">
              <h1 class="head-1">Manage Your Project </h1>
              <br>
                 <h1 class="head-2">Smart & Faster</h1>
              <h5 class="head-3">A smart & Faster office is a workplace where technology enables people to </h5>
              <h5 class="head-4">work better, faster and, of course, smarter.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
  <div class="container text-center">
    <h1 class="head-5">We Providing Our Best Services </h1>
    <h4 class="text-1">This feature is essential for any mobile app, so make sure you have it! <br> These types of notifications can directly alert your user.</h4>
  </div>
  <div class="container cards-1" >
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/1.png" class="card-img-top img-tag-1" alt="Sunset Over the Sea"/>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col order-5">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/2.png" class="card-img-top img-tag-1" alt="Sunset Over the Sea"/>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col order-1">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/3.png" class="card-img-top img-tag-1" alt="Sunset Over the Sea"/>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container cards-1">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/4.png" class="card-img-top img-tag-1" alt="Sunset Over the Sea"/>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col order-5">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/5.png" class="card-img-top img-tag-1" alt="Sunset Over the Sea"/>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col order-1">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/6.png" class="card-img-top img-tag-1" alt="Sunset Over the Sea"/>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <img class="img-tag-2" src="../../../assets/images/laptop-2.png" alt="">
    </div>
    <div class="col-6">
      <h1 class="head-6">Developers Most Favourite Software</h1>
      <h4> This feature is essential for any Developers, <br> and can be converted this Software in to comapanys sitvations </h4>
      <h2 class="text-2"> <fa-icon [icon]="faArrowCircleRight"></fa-icon> Clean User Interface</h2>
      <h2 class="text-2"><fa-icon class="icon-1" [icon]="faArrowCircleRight"></fa-icon> Easy To Use</h2>
      <h2 class="text-2"><fa-icon [icon]="faArrowCircleRight"></fa-icon> Best Performence</h2>
      <h2 class="text-2"><fa-icon [icon]="faArrowCircleRight"></fa-icon> Highly Secure</h2>
      <h2 class="text-2"><fa-icon [icon]="faArrowCircleRight"></fa-icon> Strong Secured Data Storage</h2>
    </div>
  </div>
</body>

  


