.mat-card-1 {
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    height: 410px;
}
.mat-card-2{
    margin-top: 20px;
    height: 170px;
}
.C-date{
    margin-top: 20px;
}
.bar-1{
    margin-top: 20px;
}
.projectTitle{
    margin-top: -15px;
    margin-left: 20px;
    color: #3f51b5;
}
.projectName{
    margin-top: -15px;
    margin-left: 20px;
    color: #3f51b5;
}
.submitter{
    margin-top: -15px;
    margin-left: 20px;
    color: #3f51b5;
}
.projectType{
    margin-top: -15px;
    margin-left: 20px;
    color: #3f51b5;
}
.Developer{
    margin-top: -15px;
    margin-left: 20px;
    color: #3f51b5;
}
.created{
    margin-top: -15px;
    margin-left: 20px;
    color: #3f51b5;
}
.deadLine{
    margin-top: -15px;
    margin-left: 20px;
    color: #3f51b5; 
}
.mat-card-main{
    background-color: #3f51b5;
    height: 50px;
    width: 400px;
}
.head-1{    
    color: white;
    margin-top: -5px;
    font-weight: 800;
}