.mat-card-1 {
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    height: 600px;
}
.mat-card-2{
    margin-top: 20px;
    height: 170px;
}
.C-date{
    margin-top: 20px;
}
.bar-1{
    margin-top: 20px;
}