<mat-card class="mat-card-1">
  <div class="row">
    <div class="col-sm-5 col-md-6">
      <h2>Project Title</h2>
      <p>project # 1</p>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <h2>Project Name</h2>
      <p>Project Name</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-6">
        <h2>Submitter</h2>
        <p>Submitter name</p>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
      <h2>
        Project Type
      </h2>
      <p>E-commerce web site</p>
    </div>
  </div>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
  <div class="row">
    <div class="col-sm-5 col-md-6">
        <mat-card class="mat-card-2"> </mat-card>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <h2 class="C-date">Created Date</h2>
        <p>
            11/5//2022
        </p>
        <h2>Dead Line</h2>
        <p>11/6/2022</p>
    </div>
  </div>
  <mat-progress-bar mode="buffer" class="bar-1"></mat-progress-bar>   
</mat-card>
