
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex align-items-start bg-light mb-4">
        <div class="col">
          <mat-card class="card-part-one"> </mat-card>
        </div>
        <div class="col">
          <mat-card class="card-part-one"> </mat-card>
        </div>
        <div class="col">
          <mat-card class="card-part-one"> </mat-card>
        </div>
        <div class="col">
          <mat-card class="card-part-one"> </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid-2">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <mat-card class="card-2">
            <div class="row row-two">
              <div class="col-md-3">
                <h2>Your Projects</h2>
              </div>
              <div class="col-md-4">
                <a class="btn-1" routerLink="./create-project" mat-raised-button color="warn">
                  <fa-icon [icon]="faProjectDiagram"></fa-icon> Create Project
                </a>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-12">
          <div class="mat-elevation-z8">
           <table  class="table table-bordered">
            <thead>
              <tr>
                <th>project Title</th>
                <th>projectName </th>
                <th>projectType</th>
                <th>created </th>
                <th>deadLine</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of project">
                <td>{{project.projectTitle}}</td>
                <td>{{project.projectName}}</td>
                <td>{{project.projectType}}</td>
                <td>{{project.created}}</td>
                <td>{{project.deadLine}}</td>
              </tr>
            </tbody>

           </table>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>

</body>

