.mat-card-1{
    max-width: 700px;
    height: 640px;
    margin: auto;
    margin-top: 30PX;
}
.mat-card-2{
    background-color: #3f51b5;
    margin-top: -25px;
    margin-left: -10px;
    width: 60%;
    height: 40px;
}
.head-1{
    color: white;
    margin-top: -12px;
}
.row-field-1{
    margin-top: 20px;
}
.mat-form-2{
    width: 50%;
    margin-left: 10px;
}
.row-field-2{
    margin-top: 50px;
}
.mat-card-3{
    height: 250px;
    background-color: #c1c4d3;
    border-radius: 20px;
    width: 90%;
    margin-left: 40px;
}

  .btn-2{
    margin-left: 500px;
    margin-top: 20px;
  }
  .icon-1{
    margin-left: 10px;
  }