.mat-card-1{
    background-color: #3f51b5;
    max-width: 300px;
    height: 50px;
    margin-top: -20px;
    margin-left: -20px;
}
.mat-dialog-content{
    margin-top: 20px;
}
.head-1{
    margin-top: -7px;
    font-weight: 500;
    color: white;
    font-size: 20px;
}
.button-1{
    margin-left: 70px;
    margin-top: -20px;

}
.link-1{
    margin: auto;
}