.mat-card-1{
    width: 60%;
    height: 50px;
    background-color: #3f51b5;
    margin-top: -20px;
    margin-left: -20px;
}
.head-1{
    color: white;
    margin-top: -10px;
}
.para{
    margin-left: 20px;
    color: blue;
    margin-top: -15px;
    
}
.para-0{
    font-size: small;
}
.mat-card-2{
    margin-top: 20px;
}
.sub-head-2{
    margin-top: 20px;
}
.sub-head-1{
    margin-top: 20px;
}
.sub-head-3{
    margin-top: 20px;
}