
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Dongle&family=Open+Sans:wght@300;400&family=Righteous&family=Sarabun&display=swap');

.create-card {
    max-width: 70%;
    height: 500px;
    margin: auto;
    margin: 100px;
}
.create-card-1 {
    height: 70px;
    margin-top: -40px;
    background-color: #3f51b5;
}
.para-1{
    margin-top: -20px;
    margin-left: 20px;
    font-size: small;
    color: white;
}
.head-1{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
}

button{
    margin-left: 100px;
    padding-left: 50px;
    padding-right: 50px;
   
  }
  .btn-1{
      margin-left: 500px;
      margin-top: -70px;
  }