<mat-card class="create-card">
    <div class="container-fluid">
        <div class="col-12">
         <mat-card class="create-card-1">
            <h2 class="head-1">Create New Project</h2>
            <p class="para-1">Add project details</p>
         </mat-card>
        </div>
    </div>
    <br><br>
    <div class="d-flex align-items-start bg-light mb-3" style="height: 100px;">
        <div class="col">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Project Title</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>bookmark</mat-icon>
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>
        </div>
        <div class="col">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Project Name</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>remove_from_queue</mat-icon>
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>
        </div>
        <div class="col"><p>
            <mat-form-field appearance="outline">
              <mat-label>Project Type</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>keyboard</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p></div>
      </div>
      <div class="d-flex align-items-center bg-light mb-3" style="height: 100px;">
        <div class="col">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Created</mat-label>
                  <input type="datetime-local" matInput placeholder="Placeholder">
                  <mat-icon matSuffix>event_available</mat-icon>
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>
        </div>
        <div class="col">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Dead Line</mat-label>
                  <input type="datetime-local" matInput placeholder="Placeholder">
                  <mat-icon matSuffix>event_busy</mat-icon>
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
              </p>
        </div>
        <div class="col">
            <mat-form-field appearance="fill">
            <mat-label>Project Features</mat-label>
            <textarea matInput></textarea>
          </mat-form-field></div>
      </div>
      <div class="d-flex align-items-end bg-light mb-3" style="height: 100px;">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">Developer name</mat-option>
                  <mat-option value="two">Developer name</mat-option>
                </mat-select>
              </mat-form-field> 
        </div>
        <div class="col">   
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">Submitter name</mat-option>
              <mat-option value="two">Submitter name</mat-option>
            </mat-select>
          </mat-form-field> </div>
        <div class="col">
            <button mat-raised-button color="primary">Create</button>
        </div>

      </div>
</mat-card>

